<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <!--<section name="common" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>

  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging"/>
    </logging>
  </common>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <runtime missingOrPendingStepsOutcome="Error" />
    <trace traceSuccessfulSteps="true"/>
    <stepAssemblies>
      <stepAssembly assembly="Beauty.UI.Specs" />
    </stepAssemblies>
  </specFlow>
</configuration>